* {
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/smb3Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title-text {
    padding: 20px; 
    margin: 20px; 
}

.playButton {
    padding: 5px 10px;
    display: inline-block;
}

.attempts-display {
    padding-top: 10px;
}

section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
}

.playAgain {
    padding: 20px;
    margin: 20px;
}

.cards:hover {
    /* border: 1.5px solid #FBD000; */
}

/* #cardBack {
    
} */