* {
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/smb3Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-text {
    padding: 20px; 
    margin: 20px; 
}

.playButton {
    padding: 5px 10px;
    display: inline-block;
}

.attempts-display {
    padding-top: 10px;
}

.cardContainer {
    display: grid;
    grid-template-rows: repeat(2, 20vmin);
    grid-template-columns: repeat(5, 20vmin);
    gap: 10px;
}

.playAgain {
    padding: 20px;
    margin: 20px;
}

div > img:hover{
    border: solid #fbd000;

}