* {
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/smb3Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-text {
    padding: 20px; 
    margin: 20px; 
}

.playButton {
    padding: 5px 10px;
    display: inline-block;
}

.attempts-display {
    padding-top: 10px;
}

section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    column-gap: 50px;
    border: solid;
    border-radius: 5px;
}

.playAgain {
    padding: 20px;
    margin: 20px;
}

.cards:hover {
    border: 5px solid #FBD000;

}

/* #cardBack {
    
} */